<div class="max-w-5xl mx-auto mt-5">
<h1 class="text-4xl font-bold mb-4">Welcome to FaceDev</h1>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
<% @users.each do |user| %>
<div class="mb-3 flex text-center"> 
<div class="bg-white rounded-lg shadow-md w-full">
<div class="p-4 flex flex-col items-center h-full"> 
<%= image_tag "dummyuser.png", style: "width:100px; border:2px solid #2CBCE9;
 border-radius:50%"; %>
 <div class="user-info mt-4 text-center"> 
 <h5 class="text-xl font-semibold"><%= user.name %></h5>
 <p class="text-gray-600"><%= user.profile_title %></p>
 <small class="text-gray-500"><%= user.country %> </small>
 <%= link_to "View Profile", "javascript:void(0)", class: "block bg-red
 text-white py-2 px-4 mt-4 rounded-md text-center" %>
 </div>
</div>
</div>
</div>
<% end %>
</div>
</div>
